<!--<table>-->
<!--  <tr>-->
<!--    <th>Nombre</th>-->
<!--    <th>Apellido</th>-->
<!--    <th>Correo</th>-->
<!--    <th>Password</th>-->
<!--    <th>ACCIONES</th>-->
<!--  </tr>-->

<!--  <tr *ngFor="let usuario of usuarios">-->
<!--    <td> {{usuario.nombre}}</td>-->
<!--    <td> {{usuario.apellido}}</td>-->
<!--    <td> {{usuario.correo}}</td>-->
<!--    <td> {{usuario.password}}</td>-->
<!--    <td>-->
<!--      <p-button label="EDITAR" colo (click)="editar(usuario)">-->
<!--      </p-button>-->

<!--      <p-button label="ELIMINAR" (click)="eliminar(usuario)">-->
<!--      </p-button>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<!--<div *ngFor="let usuario of usuarios">-->
<!--  <p>Nombre: {{usuario.nombre}}</p>-->
<!--  <p>Apellido: {{usuario.apellido}}</p>-->
<!--  <p>Correo: {{usuario.correo}}</p>-->
<!--  <p>Password: {{usuario.password}}</p>-->
<!--</div>-->

<div *ngIf="_authService.estaLoggeado">
  <p>{{_authService.sesion.nombre}} {{_authService.sesion.apellido}}</p>
  <p>{{_authService.sesion.correo}}</p>
</div>

<ul>
  <li>
    <a [routerLink]="['/inicio']">Inicio</a>
  </li>
  <li>
    <a [routerLink]="['/login']">Login</a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios']">Gestion De Usuarios</a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios',1,'gestion-libros']">Gestion de Libros</a>
  </li>
</ul>


<router-outlet></router-outlet>

<h3>Pie de pagina</h3>
